@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  scroll-behavior: smooth;
}

/* Bölüm Başlıkları */
h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #444;
}

.about {
  /*background: #964747;*/
  text-align: center;
  height: 40%;
  height: 100vh;
  
}

.projects {
  background: #ddd;
  text-align: center;
  height: 30vh;
}

.projects .project-item {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  width: 80%;
}

.contact {
  background: #fafafa;
  text-align: center;
  height: 20vh;
  /*min-height: 60vh;*/
}

/* Özel medya sorguları */
@media (max-width: 640px) {
  h2 {
    font-size: 1.5rem; /* Mobil başlık boyutunu küçültme */
  }
  .about, .projects, .contact {
    padding: 10px;
  }
}
