@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  scroll-behavior: smooth;
}

/* Scroll Snap Container */
.scroll-container {
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  /*overflow-y: scroll;*/
  overflow-y: auto;

  height: 100vh;
}

/* Scroll Snap Her Bir Bölüm */
.scroll-container > section {
  scroll-snap-align: start;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Bölüm Başlıkları */
h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #444;
}

/* About Bölümü */
.about {
  /*background: #964747;*/
  text-align: center;
  height: 40%;
  height: 100vh;
  min-height: 60vh;
}



/* Projects Bölümü */
.projects {
  background: #ddd;
  text-align: center;
  height: 30vh;
  /*min-height: 60vh;*/
}

.projects .project-item {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  width: 80%;
}

/* Contact Bölümü */
.contact {
  background: #fafafa;
  text-align: center;
  height: 20vh;
  /*min-height: 60vh;*/
}

.contact-form {
  margin-top: 20px;
}

.contact-form label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

footer {
  background: #333;
  color: white;
  padding: 10px 20px;
  text-align: center;
}
